* {
    margin: 0;
    padding: 0;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.navbar {
    background-color: #ffffff;
    width: 100%;
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 5px 15px #80808084;
}

.items ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
    align-items: center;

}

.items a {
    text-decoration: none;
    color: rgb(103, 102, 102);
    font-weight: 500;
    font-size: 0.875rem;

}

.logo {
    font-size: 1.5rem;
    display: flex;
    padding-left: 25px;
    color: #800000;
    font-weight: bolder;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.items a.order {
    color: white;
    background-color: #800000;
    padding: 10px;
    border-radius: 0.75rem;
    display: flex;
}

.items a.order:hover {
    background-color: #5d0000;
    transform: scale(1.05);
    transition: all 0.3s ease;
    color: white;
}

.items a:hover {
    color: #800000;
    border-bottom: 2px solid #800000;
}


.menu-header1 {
    height: 265px;
    display: flex;
    background: linear-gradient(to bottom, #995a5a21, #b58a8a1b);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

.menu-header1 h1 {
    font-size: 48px;
    font-weight: 700;
}

.menu-header1 h1 span {
    color: darkred;
}

.tagline {
    font-size: 18px;
    margin-top: 8px;
    color: #555;
}

.mnu {
    background: linear-gradient(to bottom, white, #995a5a21);
}

.menu-header {
    text-align: center;
    margin-top: 45px;
}

.search-box {
    padding: 12px 16px;
    width: 340px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-top: 18px;
}

.menu-filter {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 55px;
}

.filter-btn {
    border: none;
    background: #ececec;
    padding: 8px 18px;
    border-radius: 20px;
    font-size: 0.9rem;
    cursor: pointer;
}

.active {
    background: #800000;
    color: white;
}

.footer-container {

    height: 160px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* padding-top: 44px; */
}

.foot {
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.footer-column {
    width: 355px;
}

.footer-column p {
    font-size: 14px;
    color: gray;
    margin-top: 10px;
}

li {
    list-style-type: none;
    font-size: 14px;
    color: gray;
    line-height: 1;
    margin-top: 10px;

}

li a {
    text-decoration: none;
    color: grey;
}

.featured {
    height: 75vh;
    background-color: #fbfaf9;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.section-heading {
    text-align: center;
}

.dish-card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    width: 320px;
    transition: all 0.3s;
    border: 1px solid #e5e1dc;
}

.dish-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.dish-image img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.dishes {
    display: flex;
    gap: 70px;
}

.dish-info {
    padding: 20px;
    text-align: left;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.dish-info h3 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.dish-info p {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.dish-footer h4 {
    color: #df0000;
    font-size: 24px;
    font-weight: 700;
}


.dish-footer button {
    padding: 4px;
}

.view-menu {
    margin-top: 50px;
    transition: 0.3s;
}

.view-btn {
    background-color: #df0000;
    color: white;
    padding: 12px 25px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
}

.view-menu:hover {
    transform: scale(1.05);
}

.view-btn:hover {
    background-color: #800000;

}

.section-heading h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.section-heading h2 span {
    color: #df0000;
}

.section-heading p {
    color: #777;
    font-size: 20px;
    margin-bottom: 40px;
}

.dish-footer {
    display: flex;
    justify-content: space-between;

}

.footer-bottom p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 30px;
    border-top: 0.01px solid gray;
    padding-top: 30px;
}

.footer-bottom {
    width: 1400px;
    margin: 0 auto;
}

@media (max-width: 1111px) and (min-width: 360px) {
    .items ul {
        gap: 10px;
    }

    .filter-btn {
        padding: 5px 5px;

    }

    .dishes {
        flex-direction: column;
        align-items: center;
    }

    .featured {
        height: auto;
        padding-bottom: 60px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 30px;
        height: auto;
        padding-bottom: 30px;
    }

    .footer-container li,
    h3,
    h4,
    p {
        text-align: center;
    }

    .footer-bottom {
        width: 100%;
    }
}