* {
    margin: 0;
    padding: 0;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.navbar {
    background-color: rgb(226, 234, 234);
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 5px 15px #80808084;
}

.items ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
    align-items: center;

}

.items a {
    text-decoration: none;
    color: rgb(103, 102, 102);
    font-weight: 500;
    font-size: 0.875rem;

}

.logo {
    font-size: 1.5rem;
    display: flex;
    padding-left: 25px;
    color: #800000;
    font-weight: bolder;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.items a.order {
    color: white;
    background-color: #800000;
    padding: 10px;
    border-radius: 0.75rem;
    display: flex;
}

.items a.order:hover {
    background-color: #5d0000;
    transform: scale(1.05);
    transition: all 0.3s ease;
    color: white;
}

.items a:hover {
    color: #800000;
    border-bottom: 2px solid #800000;
}


.footer-container {

    height: 160px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* padding-top: 44px; */
}
.foot {
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.footer-column {
    width: 355px;
}
.footer-column p {
    font-size: 14px;
    color: gray;
    margin-top: 10px;
}
li {
    list-style-type: none;
    font-size: 14px;
    color: gray;
    line-height: 1;
    margin-top: 10px;
    
}
li a {
    text-decoration: none;
    color: grey;
}

.footer-bottom p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 30px;
    border-top: 0.01px solid gray;
    padding-top: 30px;
}
.footer-bottom {
    width: 1400px;
    margin: 0 auto;
}