* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgb(226, 234, 234);
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;

}

.items ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
    align-items: center;

}

.items a {
    text-decoration: none;
    color: rgb(103, 102, 102);
    font-weight: 500;
    font-size: 0.875rem;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.logo {
    font-size: 1.5rem;
    display: flex;
    padding-left: 25px;
    color: #800000;
    font-weight: bolder;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.items a.order {
    color: white;
    background-color: #800000;
    padding: 10px;
    border-radius: 0.75rem;
    display: flex;
}

.items a.order:hover {
    background-color: #5d0000;
    transform: scale(1.05);
    transition: all 0.3s ease;
    color: white;
}

.items a:hover {
    color: #800000;
    border-bottom: 2px solid #800000;
}

.hero {
    background-image: url(images/hero-food.jpg);
    height: 75vh;
    background-position: center;
    background-size: cover;
    position: relative;
    top: 72px;
    display: flex;
    align-items: center;
    color: white;
    z-index: 0;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

.back {
    background-color: black;
    opacity: 0.5;
    position: relative;
    z-index: 1;
    height: 75vh;
    width: 100%;

}

.hero-content {
    padding-left: 25px;
    position: absolute;
    z-index: 10;
    width: 42vw;
}

.hero-buttons a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
}

.hero h1 {
    font-size: 72px;
    margin-bottom: 24px;
    line-height: 1;
}

.hero h1 span {
    color: #df0000;
}

.hero-content p {
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 32px;
}

a.btncolor {
    background-color: #df0000;
    padding: 10px 32px;
    border-radius: 0.75rem;
    font-weight: 500;
}

a.btn {
    background-color: rgba(255, 255, 255, 0.08);
    padding: 10px 32px;
    border-radius: 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    ;
    font-weight: 500;
}

a.btncolor:hover {
    background-color: #5d0000;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

a.btn:hover {
    background-color: #fff3;
    color: #000000;
}

.diff-card img {
    height: 64px;
    position: relative;
    background-color: rgb(219, 19, 19);
    color: white;
    border-radius: 50%;
}

.diff {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff6ef;
    /* padding: 60px; */
    /* margin-top: 76px; */
    /* flex-wrap: wrap; */
    position: relative;
    top: 72px;
}

.diff-main {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    height: 372px;
    display: flex;

}

.diff-card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    padding: 60px 25px;
    line-height: 1.8;
    text-align: center;
    transition: all 0.3s ease;
    margin: auto 10px;
    box-sizing: border-box;
}

.diff-card h3 {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.diff-card p {
    font-size: 16px;
    color: gray;
    box-sizing: border-box;
}

.diff-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}


.featured {
    height: 90vh;
    background-color: #fbfaf9;
    position: relative;
    box-sizing: border-box;
    top: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.section-heading {
    text-align: center;
}

.dish-card {
    background: white;
    border-radius: 15px;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); */
    width: 320px;
    transition: 0.3s;
    border: 1px solid #e5e1dc;
}

.dish-card:hover {
    /* transform: translateY(-8px); */
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.dish-image img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.dishes {
    display: flex;
    gap: 70px;
}

.dish-info {
    padding: 20px;
    text-align: left;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.dish-info h3 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.dish-info p {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.dish-footer h4 {
    color: #df0000;
    font-size: 24px;
    font-weight: 700;
}

.add-btn {
    background-color: #800000;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 500;
}

.view-menu {
    margin-top: 50px;
    transition: 0.3s;
}

.view-btn {
    background-color: #df0000;
    color: white;
    padding: 12px 25px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
}

.view-menu:hover {
    transform: scale(1.05);
}

.view-btn:hover {
    background-color: #800000;

}

.section-heading h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.section-heading h2 span {
    color: #df0000;
}

.section-heading p {
    color: #777;
    font-size: 20px;
    margin-bottom: 40px;
}

.dish-footer {
    display: flex;
    justify-content: space-between;

}

.ready {
    height: 280px;
    background-color: #800000;
    position: relative;
    top: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    flex-direction: column;
}

.ready h2 {
    font-size: 48px;
    margin-bottom: 24px;
}

.ready p {
    font-size: 20px;
    margin-bottom: 32px;
}

.ready button {
    background-color: green;
    padding: 10px 32px;
    font-size: 18px;
    color: white;
    border-radius: 0.75rem;
    border-style: none;
    cursor: pointer;
    transition: 0.3s;
}

.ready button:hover {
    transform: scale(1.05);
    background-color: greenyellow;
}


.footer-container {
    position: relative;
    top: 72px;
    height: 290px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 44px;
}
.foot {
    display: flex;
    flex-direction: column;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.footer-column {
    width: 355px;
}
li {
    list-style-type: none;
}
li a {
    text-decoration: none;

}