* {
    margin: 0;
    padding: 0;
}


.navbar {
    background-color: rgb(226, 234, 234);
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 5px 15px #80808084;
}

.items ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
    align-items: center;

}

.items a {
    text-decoration: none;
    color: rgb(103, 102, 102);
    font-weight: 500;
    font-size: 0.875rem;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.logo {
    font-size: 1.5rem;
    display: flex;
    padding-left: 25px;
    color: #800000;
    font-weight: bolder;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.items a.order {
    color: white;
    background-color: #800000;
    padding: 10px;
    border-radius: 0.75rem;
    display: flex;
}

.items a.order:hover {
    background-color: #5d0000;
    transform: scale(1.05);
    transition: all 0.3s ease;
    color: white;
}

.items a:hover {
    color: #800000;
    border-bottom: 2px solid #800000;
}


.about-section {
    padding: 72px 0;
    text-align: center;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.about-header{
    height: 265px;
    display: flex;
    background-color: #995a5a21;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-header h1 {
    font-size: 48px;
    font-weight: 700;
}

.about-header h1 span {
    color: darkred;
}

.tagline {
    font-size: 18px;
    margin-top: 8px;
    color: #555;
}

.about-content {
    max-width: 752px;
    margin: 50px auto 0;
    font-size: 17px;
    line-height: 1.7;
    color: #444;
}
.about-content p{
    margin-bottom: 20px;
    text-align: justify;
}

.about-content .highlight {
    font-weight: 600;
    margin-top: 25px;
    text-align: justify;
}


